body {
  font-family: "Roboto", sans-serif;
  background-color: #36393f;
  margin: 0;
}

body * {
  outline: black;
}

hr {
  margin-top: 0px;
  margin-bottom: 15px;
  height: 3px;
  background-color: #ed4245;
  border: 0px;
  outline: 0px;
}

.no-select {
  user-select: none;
}

#topTitle {
  padding-top: 7px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #2f3136;
  text-align: center;
}

#titleMain {
  color: #5865f2;
  font-size: 5em;
  line-height: 75px;
}

.coffeeLink,
.coffeeLink:visited,
.coffeeLink:active {
  font-size: 0.8em;
  text-decoration: none;
}

#titleLink,
#titleLink:visited,
#titleLink:active {
  text-decoration: none;
  color: #ed4245;
}

#titleLink:hover {
  text-decoration: none;
  color: #00acee;
}

#stageLink,
#stageLink:visited,
#stageLink:active {
  text-decoration-style: solid;
  color: #ed4245;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.textBox {
  height: 30px;
  font-size: 20px;
  background-color: #40444b;
  border-radius: 5px;
  border: none;
  outline: black;
  color: #99aab5;
  padding-left: 5px;
}

.morse-input {
  font-family: monospace;
}

.container-stages {
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
}

.radioButton {
  margin-left: 10px; /* left if "Stage:" is shown */
  width: 20px;
  height: 20px;
  margin-top: 6px;
  outline: black;
}

.text {
  font-size: 25px;
  color: #99aab5;
}

button {
  position: relative;
  bottom: 3px;
  margin-left: 5px;
  color: white;
  border-radius: 3px;
  width: auto;
  height: 30px;
  font-family: "Roboto", sans-serif;
  border: 0px;
  outline: 0px;
  background-color: #5865f2;
  cursor: pointer;
}

button:hover {
  background-color: #4752c4;
}

button:active {
  background-color: #3c45a5;
}

.container-matches {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.checkbox {
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  outline: black;
  cursor: pointer;
}

.textCheck {
  font-size: 21px;
  color: #99aab5;
  margin-right: 5px;
  cursor: pointer;
}

textarea {
  background-color: #40444b;
  color: #99aab5;
  font-size: 12px;
  border-radius: 10px;
  border: 2px solid #40444b;
  line-height: 20px;
  height: 50%;
  resize: vertical;
}

textarea:focus {
  outline: black;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background-color: #2e3338;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: #ed4245;
  border: 0px;
  border-radius: 50%;
}

::-webkit-resizer {
  border-radius: 50%;
  background-color: #ed4245;
}

@media only screen and (max-width: 950px) {
  #titleMain {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3em;
    line-height: 30px;
  }

  .container {
    width: 90vw;
  }
}

@media only screen and (max-width: 630px) {
  .radioButton {
    width: 15px;
    height: 15px;
  }

  .container-stages * {
    font-size: 20px;
  }
}

@media only screen and (max-width: 535px) {
  #titleMain {
    font-size: 2em;
    line-height: 10px;
  }

  .container-stages {
    justify-content: space-between;
  }

  #stageLink {
    display: none;
  }

  .radioButton {
    margin-left: 0px; /* left if "Stage:" is shown */
  }
}

@media only screen and (max-width: 360px) {
  #titleMain {
    font-size: 1.4em;
    line-height: 0px;
  }

  .container {
    width: 97vw;
  }
}
